/*-----------------  font ---------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,500i,900,900i');
/*----------------- end font ---------------*/

body {
    background-color: #f3f6f8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/*-------------------- BackDrop -------------------*/
#backDrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}
/*-------------------- end BackDrop -------------------*/
/*-------------------- HEADER -------------------*/
header {
    padding: 10px 0;
    background-color: #fff;
    color: #8e8e8e;
}
header .wrapper .left-side .welcome-block,
header .wrapper .center-side,
header .wrapper .right-side {
    display: flex;
}
header .wrapper .right-side > div {
    display: flex;
    padding-left: 15px;
}
header .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.right-side .social-block .social {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #8e8e8e;
    text-align: center;
    margin-left: 10px;
    padding-top: 2px;
}
/*--- Social icons colors ---*/
.right-side .social-block .social:hover {
    cursor: pointer;
}
.right-side .social-block .social.facebook:hover,
.right-side .social-block .fab.fa-facebook-f:hover {
    color: #314987;
    border-color: #314987;
}
.right-side .social-block .social.twitter:hover,
.right-side .social-block .fab.fa-twitter:hover {
    color: #41abe1;
    border-color: #41abe1;
}
.right-side .social-block .social.youtube:hover,
.right-side .social-block .fab.fa-youtube:hover {
    color: #ff0000;
    border-color: #ff0000;
}
/*--- end Social icons colors */
.right-side .dots {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right-side .dots .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #8e8e8e;
}
.right-side .register-block:hover {
    cursor: pointer;
}

/* --- pop-up --- */
.popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-image: linear-gradient(to right, rgba(56,127,245,.5), rgba(65,171,225,.5));
}
.popup-box {
    width: 400px;
    padding: 70px;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 21px rgba(0,0,0,0.3);
    border-radius: 6px;
    background: #fff;
    text-align: center;
}
.popup-box h2 {
    color: #1a1a1a;
}
.popup-box h3 {
    color: #888;
}
/*--- Close button ---*/
.close-btn {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close-btn:hover {
    opacity: 1;
}
.close-btn:before, .close-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close-btn:before {
    transform: rotate(45deg);
}
.close-btn:after {
    transform: rotate(-45deg);
}
/*--- end Close button ---*/
.transform-in, .transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}
/* --- end pop-up --- */

/* --- mobile --- */

/* --- end mobile --- */
/*-------------------- end HEADER -------------------*/