/*****************************RESET********************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, 
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, input { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	vertical-align: baseline; 
	background: transparent; 
}
body { 
	line-height: 1;
}
ol, ul { 
	list-style: none; 
}
blockquote, q { 
	quotes: none; 
}
blockquote:before, blockquote:after, q:before, q:after { 
	content: ''; 
	content: none; 
}

/* remember to define focus styles! */
a:focus, a:hover, a:active, a:focus, a:visited  { 
	outline: 0;
	text-decoration: none;
 }
/* remember to highlight inserts somehow! */
ins { 
	text-decoration: none; 
}
del { 
	text-decoration: line-through; 
}
/* tables still need 'cellspacing="0"' in the markup */
table { 
	border-collapse: collapse; 
	border-spacing: 0;
}

button:focus {
	outline: none;
}

/*==============Pre-loader===================*/
.loaderArea {
  background: linear-gradient(180deg, #00C483 10%, #fff 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
 
.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255,255,255,.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}
 
.loader:before {
  animation: animate 2s infinite linear;
}
 
@keyframes animate {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}
 
 
.loader:after {
  animation: animate2 2s infinite linear;
}
 
@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}

/*=================================================*/
body {
	font-family: century gothic, Helvetica, Arial, sans-serif;
	background: url(../img/body_bg.png);
}
header {
	color:#666666;
	padding: 25px 0;
	height: 100px;
}
header .descript h4 {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 20px;
}
header .descript h5 {
	font-size: 16px;
}
.phone_number {
	text-align: right;
}
.phone_number h3 {
	margin-bottom: 5px;
}

/*================ navigation ===================*/
nav {
	background-color: #fafafa;
	
}
.navbar {
  border-radius: 0;
  top: 100px; 
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 51px;
}
nav ul.navbar-nav li{
	text-transform: uppercase;
	color: #666;
	-moz-transition: color 0.2s 0.02s ease;
 	-o-transition: color 0.2s 0.02s ease;
 	-webkit-transition: color 0.2s 0.02s ease;
}
nav ul.navbar-nav li:hover{
	background-color: #67cc67;
	color: #fff;
}
nav ul.navbar-nav li a:hover{
	color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #F8F8F8;
}
/*============= section main ===================*/
section#main {
	background: url(../img/main-poster1920x1080.jpg)no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}
.main_header h1 {
	color: #fff;
	text-transform: uppercase;
	margin-top: 160px;
	margin-bottom: 160px;
}
.main_header .strong_t {
	background-color: rgba(103,204,103,0.6);
	display: inline-block;
	padding: 7px;
	margin-bottom: 7px;
}
.main_header .sm_t {
	padding: 2px;
	text-transform: lowercase;
	font-size: 22px;
	font-style: italic;
}
#main h3 {
	color: #fff;
	text-transform: uppercase;
}
#main h3 span {
	color: #ff9933;
}
#main .main_button {
 margin-top: 30px;
 margin-bottom: 150px;
}
#order_main{
	border: none;
	background-color: #ff9933;
	padding: 22px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}
#order_main:hover {
	background-color: #d67513;
}

/*============= section about ===================*/
.section_header h2 {
	color: #666666;
	text-transform: uppercase;
	margin-top: 55px;
}
.text_about {
	padding-top: 20px;
}
.text_about p {
	line-height: 30px;
	font-size: 15px;
}
.text_about .about_t_bold {
	color: #ff9933;
}
/*============= section services ===================*/
section#services {
	color: #666666;
	text-transform: uppercase;
}
section#services .section_header {
	margin-bottom: 50px;
}
section#services .card h4 {
	margin-top: 25px;
	margin-bottom: 10px;
}
section#services .card {
	margin-bottom: 60px;
}

section#services button.more_btn {
	border: none;
	color: #666666;
	border:2px solid #67cc67;
	padding: 15px 35px;
	background-color: transparent;
	text-transform: uppercase;
	-moz-transition: color 0.2s 0.02s ease;
 	-o-transition: color 0.2s 0.02s ease;
 	-webkit-transition: color 0.2s 0.02s ease;
}
section#services button.more_btn:hover {
	background-color: #67cc67;
	color: #fff;
}
section#services button.order_btn {
	border: none;
	color: #fff;
	background-color: #ff9933;
	border: 2px solid #ff9933;
	padding: 15px 37px;
	text-transform: uppercase;
	-moz-transition: color 0.2s 0.02s ease;
 	-o-transition: color 0.2s 0.02s ease;
 	-webkit-transition: color 0.2s 0.02s ease;
}
section#services button.order_btn:hover {
	background-color: #67cc67;
	color: #666666;
	background-color: #67cc67;
	border: 2px solid #67cc67;
}

/*=============== section FEEDBACK ===============*/
section#feedback .section_header h2 { 
	margin-bottom: 50px;
}
.carousel-indicators {
  margin-bottom: -50px;
}
.carousel-indicators .active {
  width: 16px;
  height: 16px;
  margin: 0;
  background-color: #ff9933;
  /*border: 1px solid #67cc67;*/
}
.carousel-indicators li {
 display: inline-block;
 width: 12px;
 height: 12px;
 margin: 1px;
 text-indent: -999px;
 cursor: pointer;
 background-color: #67cc67;
 background-color: #67cc67;
 /*border: 1px solid #ff9933;*/
 border-radius: 50%;
}
.customer {
 text-transform: uppercase;
}
.cust_feedback {
	padding-left: 15px;
	line-height: 30px;
	font-size: 17px;
}
/*=============== section order_services ===============*/
section#order_services { 
	padding-top: 70px;
}
section#order_services h2 { 
	text-transform: uppercase;
	color: #f93;
	margin-bottom: 35px;
}
.form-control {
	border-radius: 0;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	margin-bottom: 17px;
	vertical-align: top;
	font-size: 17px;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.74em;
	width: 100%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input__field--yoshiko {
	width: 100%;
	background-color: #d0d1d0;
	border: 2px solid transparent;
	-webkit-transition: background-color 0.25s, border-color 0.25s;
	transition: background-color 0.25s, border-color 0.25s;
}

.input__label--yoshiko {
	width: 100%;
	text-align: left;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	overflow: hidden;
	padding: 0 1.25em;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s ;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko {
	color: #8B8C8B;
	padding: 0.25em 0;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko::after {
	content: attr(data-content);
	position: absolute;
	font-weight: 800;
	bottom: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	color: #a3d39c;
	padding: 0.25em 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
}

.input__field--yoshiko:focus + .input__label--yoshiko,
.input--filled .input__label--yoshiko {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.input__field--yoshiko:focus + .input__field--yoshiko,
.input--filled .input__field--yoshiko {
	background-color: transparent;
	border-color: #a3d39c;
}

button[type="submit"] { 
	border: none;
	color: #fff;
	background-color: #ff9933;
	
	width: 100%;
	padding: 18px;
}
button[type="submit"]:hover { 
	background-color: rgb(103,204,103);
	color: #666666;
}
/*=============== CONATCTS ===============*/
section#contacts{
	padding: 20px 0 20px;
	background-color:#303338;
	margin-top: 15px;
	color:#fff;
}
section#contacts h2{
	text-transform: uppercase;
	font-weight: lighter;
}
section#contacts .address {
	text-transform: uppercase;
	color: #CECCCF;
	padding: 10px 0;
}

section#contacts address .address:before{
	content:'';
	width: 16px;
	height: 16px;
	background: url(../img/map-marker-2-16.png) no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}

section#contacts address .london_strt {
	color: #fff;
	font-size: 20px;
}

 section#contacts .phone_w {
	text-transform: uppercase;
	color: #CECCCF;
	padding: 15px 0;
	margin-bottom: 15px;
}

section#contacts .phone_w:before{
	content:'';
	width: 16px;
	height: 16px;
	background: url(../img/office-phone-icon.png) no-repeat center center;
	display: inline-block;
	vertical-align: middle;
}

section#contacts .number {
	color: #fff;
	font-size: 20px;
}

.social_icons{
	margin-top: 20px;
}
.s_icon{
	margin-right: 7px;
	display:inline-block;
	border-radius: 50%;
}
.s_icon:hover{
	background-color: #67CC67;
	-moz-transition: color 0.2s 0.02s ease;
 	-o-transition: color 0.2s 0.02s ease;
 	-webkit-transition: color 0.2s 0.02s ease;
}
/*=============== FOOTER ===============*/
footer{
	
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #67CC67;
	color: #fff;
}
footer h4{
	text-transform: uppercase;
}
footer .details{
	text-align: left
}
footer .developer{
	text-align: right;
}
footer .developer a{
	text-decoration: none;
	color:#fff;
}

/*=============== Modal ===============*/
.modal-dialog {
	margin-top: 12%;
	
}
.modal-content {
	border-radius: 0;
}
.modal-header {
	border-bottom: none;
}
.modal-body {
	margin-top: -15px;
}
.header_modal h4 {
	margin-bottom: 25px;
}
.text_modal_wind {
	text-align: left;
	padding-bottom: 15px;
	padding-right: 40px;
}
.text_modal_wind .removals_price {
	margin-top: 15px;
}
.text_modal_wind {
	line-height: 25px;
}
.text_modal_wind .price_txt {
	color: rgb(103,204,103);
	font-size: 30px;
	padding-top: 7px;
}
.block_txt {
	padding-bottom: 20px;
}
.van_parameters {
	padding-top: 30px;
	line-height: 25px;
}

/*=============== Media ===============*/
@media (min-width: 0px) and (max-width: 320px){
	.carousel-indicators {
    margin-bottom: -50px;
}
}
@media (min-width: 321px) and (max-width: 480px){
	header {
    padding: 10px 0;
	}

	.phone_number {
		text-align: center;
	}

	
	section#contacts h2 {
		text-align: center;
		padding-top: 15px;
	}

	section#order_services h2 {
		text-align: center;
	}

	.social_icons {
   text-align: center;
	}

	.s_icon {
		margin: 0;
   	padding: 15px 25px;
	}
	.s_icon:hover {
		background-color: inherit;
	}

	footer {
    padding-bottom: 10px;
    padding-top: 10px;
	}
	footer .details {
    text-align:center;
    padding-bottom: 10px;
	}
	.developer {
		padding-top: 15px;
	}
	.developer h4 {
		display: inline-block;
		font-size: 15px;
		text-transform: lowercase;
		padding-right: 5px;
	}
	.developer a {
		text-align: right;
		font-size: 15px;
		padding-top: 1px;
	}
	/*-----------------------------Modal window-------------------------------------*/
	.van_parameters {
    padding-top: 0;
    line-height: 20px;
	}
	.text_modal_wind .removals_price {
    margin-top: 130px;
	}

	.carousel-indicators {
    margin-bottom: -50px;
	}
}
@media (min-width: 481px) and (max-width: 768px){
	header {
    padding: 10px 0;
	}

	.phone_number {
		text-align: center;
	}

	
	section#contacts h2{
		text-align: center;
		padding-top: 15px;
	}

	.social_icons {
   text-align: center;
	}

	.s_icon {
		margin: 0;
   	padding: 15px 25px;
	}
	.s_icon:hover {
		background-color: inherit;
	}

	footer {
    padding-bottom: 10px;
    padding-top: 10px;
	}
	footer .details {
    text-align:center;
    padding-bottom: 10px;
	}
	.developer {
		padding-top: 15px;
	}
	.developer h4 {
		display: inline-block;
		font-size: 15px;
		text-transform: lowercase;
		padding-right: 5px;
	}
	.developer a {
		text-align: right;
		font-size: 15px;
		padding-top: 1px;
	}
	/*-----------------------------Modal window-------------------------------------*/
	.van_parameters {
    padding-top: 0;
    line-height: 20px;
	}
	.text_modal_wind .removals_price {
    margin-top: 170px;
	}
}
@media (min-width: 769px) and (max-width: 992px){

	/*-----------------------------Modal window-------------------------------------*/
	.van_parameters {
    padding-top: 0;
    line-height: 20px;
	}
	section#contacts h2{
		text-align: center;
		padding-top: 15px;
	}

	.social_icons {
   text-align: center;
	}

	.s_icon {
		margin-top: 15px;
   	margin-right: 15px;
	}
	.s_icon:hover {
		background-color: inherit;
	}
}
@media (min-width: 993px) and (max-width: 1200px){
	section#services button.more_btn {
		width: 100%;
		margin-bottom: 15px;
	}
	
	section#services button.order_btn {
		width: 100%;
	}
	.s_icon {
		margin-top: 15px;
   	margin-right: 15px;
	}

}