/*****************************RESET********************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, 
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, input { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	vertical-align: baseline; 
	background: transparent; 
}
body { 
	line-height: 1;
}
ol, ul { 
	list-style: none; 
}
blockquote, q { 
	quotes: none; 
}
blockquote:before, blockquote:after, q:before, q:after { 
	content: ''; 
	content: none; 
}

/* remember to define focus styles! */
a:focus, a:hover, a:active, a:focus, a:visited  { 
	outline: 0;
	text-decoration: none;
 }
/* remember to highlight inserts somehow! */
ins { 
	text-decoration: none; 
}
del { 
	text-decoration: line-through; 
}
/* tables still need 'cellspacing="0"' in the markup */
table { 
	border-collapse: collapse; 
	border-spacing: 0;
}

/*==================================================*/
body {
	font-family: century gothic;
}
header {
	color:#666666;
	padding: 25px 0;
}
header .descript h4 {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 20px;
}
header .descript h5 {
	font-size: 16px;
}
.phone_number {
	text-align: right;
}
.phone_number h3 {
	margin-bottom: 5px;
}

/*================navigation===================*/
nav {
	background-color: #fafafa;
}
nav ul.list-inline a{
	display: inline-block;
	text-transform: uppercase;
	padding: 20px 10px;
	color: #666;
	-moz-transition: color 0.2s 0.02s ease;
 	-o-transition: color 0.2s 0.02s ease;
 	-webkit-transition: color 0.2s 0.02s ease;
}
nav ul.list-inline a:hover{
	text-decoration: none;
	background-color: #67cc67;
	color: #fff;

}
nav ul.list-inline {
	margin-bottom: 0;
}
/*=============section main===================*/
section#main {
	background: url(../img/main-poster1920x1080.jpg)no-repeat center center;
	background-size: cover;
}
.main_header h1 {
	color: #fff;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 90px;
}
.main_header .strong_t {
	background-color: rgba(103,204,103,0.6);
	display: inline-block;
	padding: 7px;
	margin-bottom: 7px;
}
.main_header .sm_t {
	padding: 2px;
	text-transform: lowercase;
	font-size: 22px;
	font-style: italic;
}
#main h3 {
	color: #fff;
	text-transform: uppercase;
}
#main h3 span {
	color: #ff9933;
}
#main .main_button {
 margin-top: 7px;
 margin-bottom: 90px;
}
#main .main_button button {
	border: none;
	background-color: #ff9933;
	padding: 22px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}
#main .main_button button:hover {
	background-color: #d67513;
}

/*=============section about===================*/
.section_header h2 {
	color: #666666;
	text-transform: uppercase;
	padding-top: 70px;
}
.text_about {
	padding-top: 70px;
}
/*=============section services===================*/
section#services {
	color: #666666;
	text-transform: uppercase;
}
section#services .section_header {
	margin-bottom: 50px;
}
section#services .card h4 {
	margin-top: 25px;
	margin-bottom: 10px;
}

section#services button.more_btn {
	border: none;
	color: #666666;
	border:2px solid #67cc67;
	padding: 15px 35px;
	background-color: transparent;
	text-transform: uppercase;
	-moz-transition: color 0.2s 0.02s ease;
 	-o-transition: color 0.2s 0.02s ease;
 	-webkit-transition: color 0.2s 0.02s ease;
}
section#services button.more_btn:hover {
	background-color: #67cc67;
	color: #fff;
}

section#services button.order_btn {
	border: none;
	color: #fff;
	background-color: #ff9933;
	border: 2px solid #ff9933;
	padding: 15px 37px;
	text-transform: uppercase;
	-moz-transition: color 0.2s 0.02s ease;
 	-o-transition: color 0.2s 0.02s ease;
 	-webkit-transition: color 0.2s 0.02s ease;
}
section#services button.order_btn:hover {
	background-color: #67cc67;
	color: #666666;
	background-color: #67cc67;
	border: 2px solid #67cc67;
}
/*===============section order_services===============*/
section#order_services { 
	padding-top: 70px;
}
section#order_services h2 { 
	text-transform: uppercase;
	color: #f93;
	margin-bottom: 35px;
}
.form-control {
	border-radius: 0;
}
input[name="name"] {
	background: url(../img/name.input.png) no-repeat center left 5px;
	padding: 25px;
	padding-left: 30px;
}
input[name="phone"] {
	background: url(../img/phone.input.png) no-repeat center left 5px;
	padding: 25px;
	padding-left: 30px;
}
section#order_services button { 
	border: none;
	color: #666666;
	border:2px solid #67cc67;
	padding: 17px 110px;
}